body main {
  background-image: url(../public/fondo.png);
  background-repeat: repeat-y; }

h1 {
  font-size: 3.5em; }

h2 {
  font-size: 2.5em; }

h3 {
  font-size: 2em; }

p {
  font-size: 1.5em; }

.btn {
  width: 100px; }
