@import "sizes";



body {
    main{
    background-image: url(../public/fondo.png);
    background-repeat:repeat-y;
    }
}
.sec-titulo {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
#items-shop {
    div {
        div {
            background-color: #fff;
            height: 650px;
            width: 500px;
            border-radius: 10px;
            margin: 5px;
        }
    }
}
.sec-img {
    max-width: 100%;
    width: 650px;
    height: auto;
}
h1 {
    font-size: $h1-size;
}
h2 {
    font-size: $h2-size;
}
h3 {
    font-size: $h3-size;
}
p {
    font-size: $p-sizes;
}
.btn {
    width: $btn-size;
}
li:hover {
    transform: scale(1.2);
}
@media (max-width: 768px) {
    .sec-img {
        width: 350px;
        height: auto;
    }
    .container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    h1 {
        font-size: $h1-media;
    }
    h2 {
        font-size: $h2-media;
    }
    h3 {
        font-size: $h3-media;
    }
    p {
        font-size: $p-media
    }
    .items-img {
        width: auto;
        height: auto;
        max-width: 300px;
    }
    #items-shop {
       div {
           div {
            max-width: 300px;
            height: auto;
           }
       }
    }
}